<head>
<title>Microscope</title>
</head>
<body>
<div class="container">
	<header class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">Microscope</a>
		</div>
	</header>
	<div id="main" class="row-fluid">{{> postsList}}</div>
</div>
</body>